@using Wedding.eVite.Business

@{
    ViewBag.Title = "Gift";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderSection {

<script src="~/Scripts/jquery.loading.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/Gift.Index.js"></script>
}

<div class="gift">
    <div class="gift_header">
        <div class="gift_image"><img src="~/Content/Images/gift_beach.jpg" /></div>
        <div class="gift_poem">
            <p>We know it’s traditional to write a list, but in this case there is a slight twist</p>
            <p>Our home is complete with the usual stuff and the things that we have are quite enough</p>
            <p>Our dream is to honeymoon in a foreign land and walk along the beach hand in hand</p>
            <p>We hope you don’t think of us as being rude and that our request is not misconstrued</p>
            <p>But a contribution to our honeymoon pot would be appreciated such a lot</p>
            <p>But the most important thing to say is that you are there to celebrate our day!</p>
        </div>
    </div>

    <p>We have been lucky enough to have lived happily together for several years now and we already own all of the things that would traditionally go on a wedding gift list. As we don't need anything we're not expecting any of our guests to get us a gift and just being there on the day is more than enough.</p>
    <p>However, if you would like to get us something it would be a huge help if you could make a small contribution towards our honeymoon.</p>
    <p>For our first holiday as a married couple we will be spending two weeks in Sri Lanka (although we haven't quite ironed out all of the details yet and we've already changed our minds twice). We have set up a page on <a href="http://www.ourdreamhoneymoon.com/lace.toms.18267" target="_blank">Buy Our Honeymoon.com</a> which you can use to help us fill up our money pot.</p>
    <p>We will also be donating 10% of everything you give us to Cancer Research.</p>
    <p>Thank you in advance...</p>
    <h3>John <span style="color: #bfbfbf;">&amp;</span> Lizzie</h3>
</div>