@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section HeaderSection {
    @RenderSection("HeaderSection", required: false)
}

<div>
    <div class="admin_layout_navigation cf">
        <div class="admin_layout_navigation_items">
            <ul>
                <li><a href="~/Admin">Invites</a></li>
                <li><a href="~/Admin/Guests">Guests</a></li>
                <li><a href="~/Admin/SeatingPlan">Seating Plan</a></li>
                <li><a href="~/Admin/Expenses">Expenses</a></li>
                <li><a href="~/Admin/Accommodation">Accommodation</a></li>
                <li><a href="~/Admin/Errors">Errors</a></li>
            </ul>
        </div>
    </div>

    <div class="layout_body">@RenderBody()</div>

    <div class="logged_in_layout_footer">
        <div class="logged_in_layout_footer_view_full_website">
            @Html.ActionLink("View Full Website", "ViewFullWebsite", null, null, new { @class = "logged_in_layout_footer_view_full_website_button" })
        </div>

        <div class="logged_in_layout_footer_log_out">
            <input type="button" class="button logged_in_layout_footer_log_out_button" value="Log out" onclick="location.href='@Url.Action("LogOut", "LogIn" )'" />
        </div>
    </div>
</div>
