@using Wedding.eVite.Business
@model Invite

@{
    ViewBag.Title = "Unsubscribe";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section HeaderSection {

}

<h4>Unsubscribe successful</h4>

<div style="padding: 12px;">
    <p>You have successfully unsubscribed from these emails and you will no longer be sent one whenever we send you a message. You will still be able to view the messages by logging in to the website and clicking "Contact Us". You will also be able to resubscribe to these emails if you wish.</p>

    <p><a href="~/LogIn">Click here</a> to log in to the website.</p>
</div>
