
@{
    ViewBag.Title = "Home";
}

<div class="home_text">
    <p>Welcome to Home From Home.</p>

    <p>We are a husband and wife couple offering dog boarding in Knutsford, Cheshire and the surrounding area. We offer a professional service at competitive prices and live in a secure house with a fully fenced off garden.</p>

    <p>As former dog owners ourselves, we understand that when you want to take some much needed time off, you want to be sure that your pets will be looked after in a safe and loving environment and not spend time in a lonely kennel. We are both retired and so at least one of us will be home for the majority of the stay so your best friend will always have someone to play with.</p>

    <p>Thank you for taking the time to visit our website and we look forward to welcoming a new friend into our home soon.</p>

    <div class="home_text_signature">Al &amp; Jen</div>
</div>

<div class="home_jen_mindy"><img src="~/Content/Images/home_jen_mindy.jpg" alt="Home from Home" width="300" height="400" /></div>

