
@{
    ViewBag.Title = "Prices";
}

<div class="prices">
    <ul>
        <li>
            <img src="~/Content/Images/prices_dog_boarding.png" alt="Dog Boarding (24hr)" />
            <p>Dog Boarding (24 hr)</p>
            <p>£20</p>
        </li>
        <li>
            <img src="~/Content/Images/prices_dog_day_care.png" alt="Dog Day Care" />
            <p>Dog Day Care</p>
            <p>£16</p>
        </li>
    </ul>
</div>

