
@{
    ViewBag.Title = "Services";
}

<h1>Home Boarding</h1>

<p>As we are both retired your dogs will have our company for most, if not all, of the day.</p>
<p>Your dogs will have the freedom of the full house &amp; garden to roam around in until their hearts are content and will get as many walks as they need.</p>
<p>Because we only care for 1, or at the most 2, dogs at a time your pet will experience a dedicated and highly personalised service.</p>

<h1>Insured</h1>

<p>We have years of experience of owning and looking after dogs so are very capable of dealing with any situations that may arise. We are also fully insured and are in the process of obtaining a Home Dog Boarding License.</p>

<h1>Walks</h1>

<p>Young or old, big or small, your dog will get as many walks a day as they are used to. We live just a few minutes walk from Tatton Park which is perfect for walkies and your dog may just make some new friends.</p>


