
@{
    ViewBag.Title = "Testimonials";
}

<div class="testimonials">

    <div class="cf">
        <div class="testimonials_quote" style="float: left;">
            <p>"Jen and Alan were both very welcoming and flexible. My dog can be a bit timid at first but I could tell he felt at home as soon as he went into the house and met them both. Jen sent me updates and made me feel really at ease. Also flexible on pick up times. Great for a family environment would definitely use again."</p>
            <h2>Carole - October 2016</h2>
        </div>

        <div class="testimonials_dog" style="float: right;"><img src="~/Content/Images/testinmonials_kain.png" alt="Kain the collie cross" title="Kain the collie cross" /></div>
    </div>

    <div class="cf">
        <div class="testimonials_quote" style="float: right;">
            <p>"We were greeted by Jen and Allan and my Labrador went happily into the house. I had been a bit worried as he can be shy with new people but I could see immediately that he would settle well. He stayed over-night and had a couple of walks including one in Tatton. Jen was very flexible with my drop off and pick-up times and sent me a few text up-dates. I am very happy to recommend and hopefully book another visit for my dog."</p>
            <h2>Jennifer - September 2016</h2>
        </div>

        <div class="testimonials_dog" style="float: left;"><img src="~/Content/Images/testinmonials_paddy.png" alt="Paddy the chocolate labrador" title="Paddy the chocolate labrador" /></div>
    </div>

    <div class="cf">
        <div class="testimonials_quote" style="float: left;">
            <p>"Al &amp; Jen have looked after Barney many times for us and he always loves going to stay at their house. He gets plenty of long walks round Tatton Park and loves curling up by the fire afterwards for a snooze. Al &amp; Jen are fantastic dog carers and we can't recommend them highly enough. Barney is already looking forward to his next visit!"</p>
            <h2>John &amp; Lizzie - September 2016</h2>
        </div>

        <div class="testimonials_dog" style="float: right;"><img src="~/Content/Images/testinmonials_barney.png" alt="Barney the collie cross" title="Barney the collie cross" /></div>
    </div>
</div>

