<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="dbConnectionString" connectionString="Server=188.121.44.212;Initial Catalog=WeddingEVite;User Id=johnlace1986;Password=plumtree1973;Connect Timeout=60" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="MailFrom" value="no-reply@johnandlizziearegettingmarried.co.uk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTP.Port" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTP.Host" value="relay-hosting.secureserver.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTP.EnableSSL" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTP.Password" value="hashfap6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>