.name
{
	height: 43px;
	margin-bottom: 24px;
}

.name_label
{
	float: left;
	padding: 6px 0px;
	margin-right: 12px;
}

.name_textbox
{
	float: left;
}

.options
{
	height: 43px;
	margin-bottom: 24px;
}

.option_buttons
{
	height: 43px;
}

ul.option_buttons
{
	margin: 0;
	list-style: none;
}

ul.option_buttons li
{
	float: right;
	margin-left: 12px;
}

.images
{
}

.image
{
	width: 176px;
	height: 226px;
	padding: 3px;
	border: solid 2px #000000;
	background-color: #3d3d3d;
	text-align: center;
	float: left;
	margin-left: 12px;
	margin-bottom: 12px;
}

.image_wrapper
{
	margin-bottom: 12px;
	height: 132px;
	width: 100%;
	border: solid 1px #000000;
	background-color: #898989;
}

.image_actual
{
	max-width: 174px;
	max-height: 132px;
}

.image_thumbnail
{
	margin-bottom: 12px;
}

.image_thumbnail input
{
	position: relative;
	top: 1px;
}

.image_thumbnail label
{
	position: relative;
	margin-left: 6px;
}

.image_delete_button
{
	margin-bottom: 6px;
}

.no_pictures
{
	margin-bottom: 24px;
}

.error_label
{
	height: 19px;
	float: left;
	padding: 12px 0px;
	color: #ff0000;
	text-align: center;
	width: 100%;
}