<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MasterDb" connectionString="Data Source=MANCHESTER;Initial Catalog=NisbetPhotography;User Id=NisbetPhotographyWebsite;Password=password;"/>
    <!--<add name="MasterDb" connectionString="Data Source=JOHN-PC\SQLEXPRESS;Initial Catalog=NisbetPhotography;User Id=NisbetPhotographyWebsite;Password=password;"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
