<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="VideoPlayer" connectionString="Server=john-pc\sqlexpress;Database=VideoPlayer;User Id=VideoPlayer_Login;Password=videoplayer;"/>
    <!--<add name="MasterDB" connectionString="Server=LOWDHAM;Database=MediaPlayer;User ID=MediaPlayer_Login;Password=mediaplayer;Trusted_Connection=False;"/>-->
    <add name="MasterDB" connectionString="Server=John-PC\sqlexpress;Database=MediaPlayer;User ID=MediaPlayer_Login;Password=mediaplayer;Trusted_Connection=False;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
